extends layout

block content
  h1= title

  .row
    each restaurants in results
      .col-3 
        ul
          li restaurants type: #{restaurants.restaurants_type}
          li restaurants address : #{restaurants.address}
          li restaurants rating : #{restaurants.rating}
